<div class="download__price_blocks">
    <div class="download__price_items">
        <div class="download__price_img">
            <h2 class="h2">Металлопрокат в Крыму</h2>
            <ul class="download__price_ul">
                <li class="download__price_li">Доставка в любую точку Крыма</li>
                <li class="download__price_li">Профессиональная резка, по заданным размерам</li>
                <li class="download__price_li">Оплата любой формы</li>
            </ul>
            <button class="download__price__btn btn__red">Сохранить прайс</button>
        </div>
    </div>
</div>