<footer class="footer">
    <div class="footer__blocks">
        <div class="footer__logo">
            
        </div>
        <div class="footer__share">
            <p class="footer__info_p">Расскажи друзьям, о нас:</p>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,odnoklassniki,telegram,viber,whatsapp"></div>
        </div>
        <div class="footer__info">
            <p class="footer__info_p">+7(978)707-78-86</p>
            <p class="footer__info_p">г. Симферополь</p>
            <p class="footer__info_p">с 08:00 до 20:00</p>
            <p class="footer__info_p">выходной:воскресенье</p>
        </div>
    </div>
</footer>