<div class="window__comment_body">
    <div class="window__comment">
        <span class="services__bolt"></span>
        <span class="services__bolt"></span>
        <span class="services__bolt"></span>
        <span class="services__bolt"></span>
        <div class="comment__add_closed"></div>
        <div class="comment__add_form">
            <form method="post" class="forms__add_comment" action="/">
                <label class="forms__add_label">
                    <span class="star">*</span>
                    <input class="input__add_comment name__author" name="author" type="text" placeholder="Автор">
                    <p class="comment__add_p">Ведите имя</p>
                </label>
                <label class="forms__add_label">
                    <span class="star">*</span>
                    <textarea class="forms__add_textarea" name="text" placeholder="Текст отзыва"></textarea>
                    <p class="comment__add_p">Минимум 50 символов</p>
                </label>
                <button class="forms__add_btn " type="submit" disabled>Опубликовать</button>
            </form>
        </div>
    </div>
</div>