<header class="header">
  <div class="header__up_blocks">
    <div class="logo_and_contacts">
      <div class="header__logo">
          <div class="logo__img"></div>
          <div class="simferopol">
              <h1 class="h1">Металлопрокат</h1>
              <p class="simeropol_p">Симферополь</p>
          </div>
          
      </div>
      <div class="header__contacts __contacts">
          <div class="header__contacts_style">
            <div class="telephone mess__style">+7(978)707-78-86</div>
            <span>пн-пт 08:00 - 20:00</span>
            <span>выходной:воскресенье</span>
          </div>
          <div class="whatsapp mess__style"></div>
          <div class="viber mess__style"></div>
          <div class="telegram mess__style"></div>
      </div>
    </div>
  </div>
  <div class="header__down_blocks">
          <nav class="header__nav">
              <ul class="header__nav_ul">
                  <li class="header__nav_li">Прайс</li>
                  <li class="header__nav_li">Отзывы</li>
                  <li class="header__nav_li">Оплата</li>
                  <li class="header__nav_li">Доставка</li>
                  <li class="header__nav_li">Резка</li>
              </ul>
          </nav>
      <div class="header__nav_burger">
          <div class="burger__menu">
              <div class="burger"><span></span></div>
          </div>
          <div class="__contacts">
              <div class="telephone__burger mess__style"><span></span></div>
              <div class="whatsapp mess__style"></div>
              <div class="viber mess__style"></div>
              <div class="telegram mess__style"></div>
          </div>
      </div>
  </div>
</header>