<div class="price__data_block">
 
    <div class="price__data_table">
      <table class="price__table_load">
        <tbody class="price__tbody_load">
          <tr class="price__tr ">
            <th  class="th" colspan="5">Металлопрокат Симферополь</th>
          </tr>
          <tr>
            <th class="th" colspan="3">Доставка, Резка</th>
            <th colspan="2">+7(978) 707 78 86</th>
          </tr>
          <tr class="price__tr ">
            <td class="price__td td">Наименование</td>
            <td class="price__td td">мера</td>
            <td class="price__td td">До 1т</td>
            <td class="price__td td">От 1 до 5 т</td>
            <td class="price__td td">От 5т</td>
        </tr>
        </table>
        </tbody>
    
    </div>
    <div class="price__data_btn_block">
      <button class="price__data_btn btn__red ">Сохранить xlsx</button>
      <button class="price__data_btn btn__red ">Печать</button>
      <button class="price__data_btn btn__red ">Закрыть</button>
    </div>
    <div class="telephone__price_ mess__style"><span></span></div>

</div>