<div class="services__blocks">
<div class="services__header">
    <h5 class="h5">Доставка</h5>
</div>
<div class="services__delivery services__style">
    <span class="services__bolt"></span>
    <span class="services__bolt"></span>
    <span class="services__bolt"></span>
    <span class="services__bolt"></span>
    <div class=" delivery__img services__img"></div>
    <div class="services__description">
        <h6 class="h6">Доставка в любую точку Крыма</h6>
        <p class="services__description_p">
            Поможем организовать доставку продукции по требованию клиента в пределах города Cимферополь и в
            междугородных направлениях по территории Республики Крым. Благодаря данной услуге вы оперативно
            получаете необходимый вам товар и экономите время на организацию доставки собственными силами.
        </p>
    </div>
</div>
<div class="services__header">
    <h5 class="h5">Резка</h5>
</div>
<div class="services__cutting services__style">
    <span class="services__bolt"></span>
    <span class="services__bolt"></span>
    <span class="services__bolt"></span>
    <span class="services__bolt"></span>
    <div class="cutting__img services__img"></div>
    <div class="services__description">
        <h6 class="h6">Профессиональная резка, по заданным размерам</h6>
        <p class="services__description_p">
            Предлогаем услуги по резке металла. Нередко заказчикам требуется металлопрокат меньшего
            размера, чем представлен на нашем складе. В таком случае с помощью профессионального
            оборудования произведится работа по резке металлопроката.
        </p>
    </div>
</div>
</div>
<div class="services__header">
<h5 class="h5">Оплата</h5>
</div>
<div class="services__payment services__style">
<span class="services__bolt"></span>
<span class="services__bolt"></span>
<span class="services__bolt"></span>
<span class="services__bolt"></span>
<div class="payment__img services__img"></div>
<div class="services__description">
    <h6 class="h6">Оплатить металл можно 3-мя способами:</h6>
    <p class="payment___p">На расчётный счёт</p>
    <p class="payment___p">Банковской картой</p>
    <p class="payment___p">Наличными</p>
</div>
</div>