<li class="price__li btn__green"></li>
<div class="price__menu display__none">
    <div class="price__description_block">
        <div class="price__img"></div>
        <div class="price__description">
            <h3 class="h3"></h3>
            <p class="price__description_p"></p>
            <p class="price__description_p price__description_delivery"></p>
        </div>
        <div class="price__control">
            <button class="price__control_btn btn__red">Весь прайс</button>
        </div>
        <div class="__contacts">
            <div class="whatsapp mess__style"></div>
            <div class="viber mess__style"></div>
            <div class="telegram mess__style"></div>
        </div>
    </div>
    <div class="price__table_blocks">
        <table class="price__table">
            <tbody class="price__tbody">
                <tr class="price__tr">
                    <td class="price__td ">Наименование</td>
                    <td class="price__td ">мера</td>
                    <td class="price__td">До 1т</td>
                    <td class="price__td">От 1 до 5 т</td>
                    <td class="price__td">От 5т</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="price__menu_p"></p>
</div>